<html>
    <body>
        <h1 style="text-align: center">
            Subway Information
        </h1>
        <h2 style="text-align: center;">
        No.l2
        </h2>
        <br>
        <div style="background-color: {{l2c}}; border: solid {{l2c}}; position: relative; top: 0%; width: 150px; height: 150px; left: 50%; transform: translate(-50%)">
            
            </div>
        
        <div style="text-align: center; position: relative; top: 5%; font-size: 30">
            
         상태 : {{sit}}<br>
        내리는 역 : {{want}}<br>
        
            <button type="button" onclick="location.href='/'" style="margin-top: 40px;padding: 20px; border: solid white">Back</button>
        </div>
       
        <!--form action="/information" method="post">
            <input type="submit" value="Reload">
        </form-->
    
    </body>
</html>