<html>
    <body>
        <h1 style="text-align: center">
            Subway Information
        </h1>
        <br>
        <div style="text-align: center; position: relative; top: 0%; font-size: 30">
         현재 역 : {{current}}<br>
        
            <button type="button" onclick="location.href='/'" style="margin-top: 40px;padding: 20px; border: solid white">Back</button>
        </div>
       
        <!--form action="/information" method="post">
            <input type="submit" value="Reload">
        </form-->
    
    </body>
</html>